body {
  background: linear-gradient(0.25turn, #2d033b, #3f0071, #2d033b);
}
.navbar-profile {
  border-radius: 30px;
}
.navbar-light {
  background-color: linear-gradient(0.25turn, #2d033b, #3f0071, #2d033b);
}
.nav-link {
  color: white;
}
.navbar-brand {
  color: white;
}
