:root {
  --main-text-color: #683b63;
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  --primary-color: #683b63;
}
body {
  margin-top: 20px;
  background: #ffffff;
  color: white;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: "Exo", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Solitreo", cursive;
  font-size: 50px;
}
h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.head {
  background-color: #683b63;
  padding: 20px;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.nav-link {
  border: solid 1.5px white;
  border-radius: 5px 20px 5px;
  text-align: center;
  color: white;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
  padding: 5px 20px;
}
hr {
  width: 450px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
a {
  color: #f0f0f0;
}
.card {
  background-color: transparent;
  border: none;
  margin: 10px;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.card-img-top {
  border-radius: 30px;
  width: 250px;
  display: block;
  margin: 0 auto;
}
.card-title {
  text-align: center;
}
.card-title a {
  color: var(--main-text-color);

  text-decoration: none;
  font-weight: 700;
}

.card-text {
  text-align: center;
  color: var(--main-text-color);
}

/* Education */
.university,
.courses {
  border-radius: 4px;
  border: solid var(--main-text-color);
  flex: 1;
  margin: 20px;
  padding: 20px;
  line-height: 1, 5;
}
.cards-education {
  color: var(--main-text-color);
  display: flex;
}

.name-school,
.course-name {
  font-size: 22px;
  margin-bottom: 5px;
}
.degree,
.content {
  font-size: 16px;
}
.years {
  font-size: 12px;
}
.shecodes-links {
  color: #b368ab;
  text-decoration: none;
  margin: 10px;
}
.row {
  margin-left: 20px;
  margin-right: 20px;
}
/* About */
.cut-pic {
  position: relative;
  top: -330px;
  right: 60px;
}
.about-pic {
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}
iframe {
  display: block;
  margin: 0 auto;
}
.about-text {
  line-height: 1.8;
}
@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 13px;
  }
  .menu {
    flex-direction: column;
  }
  .menu a {
    margin: 10px;
  }
  hr {
    width: 230px;
  }
  iframe {
    width: 260px;
    height: 180px;
  }
  .about-pic {
    width: 80px;
  }
  .cards {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .cut-pic {
    display: none;
  }
}
footer {
  color: #fa46be;
}
